body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

.nav-link.active {
    color: #0d6efd;
    font-weight: 600;
}

/* HERO */
.hero-section {
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    position: relative;
}

.sidebar-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* SECTIONS */
section {
    padding: 80px 0;
}

.section-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.section-desc {
    max-width: 700px;
    margin: auto;
    color: #555;
}

/* SERVICES */
.service-box {
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.service-box i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #0d6efd;
}

.service-box:hover {
    transform: translateY(-8px);
}

/* SKILLS */
.skills-icons i {
    font-size: 45px;
    color: #0d6efd;
}

/* CERTIFICATES */
.certificates-section {
    background: #f8f9fa;
}

.certificate-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}

.certificate-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.certificate-info {
    padding: 20px;
    text-align: center;
}

.certificate-info h5 {
    font-weight: 600;
    margin-bottom: 5px;
}

.certificate-info p {
    font-size: 14px;
    color: #666;
}

.certificate-card:hover {
    transform: translateY(-10px);
}



.show {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER */
.footer-section {
    background: #111;
    color: #fff;
    padding: 40px 0;
}

.footer-section a {
    color: #0d6efd;
    font-size: 24px;
}

